<header-content></header-content>
<div class="view-stories">
  <img src="../../assets/main-banner.jpg">

  <div class="content">
    <div class="categories">
      <button (click)="gotoDetail()">Mental Health</button>
      <button (click)="gotoDetail()">Physical Health</button>
      <button (click)="gotoDetail()">Carer</button>
    </div>
    <div class="content-horizontal">
      <div class="content-panel">
        <div class="content-choices">
          <img src="../../assets/crystal-maiden.jpg">
          <!--<a  href="#">Share a Story</a>-->
        </div>
        <div class="content-choices">
          <div class="recommendation-container">
            <div class="recommendation">1</div>
            <div class="recommendation">2</div>
            <div class="recommendation">3</div>
            <div class="recommendation">4</div>
          </div>

        </div>
      </div>
    </div>

    <div class="content-horizontal">
      <button class="view-all">View All</button>
    </div>

  </div>
</div>
