<header-content></header-content>
<div class="share-story">
  <div class="content">
    <img src="../../assets/main-banner.jpg">
    <div class="content-horizontal">
      <div class="content-panel">
        <h2>Upload content</h2>
        <div class="media-group">
          <div>Video</div>
          <div>Audio</div>
          <div>Text</div>
        </div>
      </div>
    </div>
    <div class="content-horizontal">
      <div class="content-panel">
        <div class="input-group">
          <label>Short Description</label>
          <textarea rows="4" cols="50"></textarea>
        </div>
      </div>
    </div>

    <div class="content-horizontal">
      <button class="submit">Submit</button>
    </div>

  </div>
</div>
