<header-content></header-content>
<div class="story">
  <div class="content">
    <div class="top-heading">
      <h2>Fill this up</h2>
      <!--<button (click)="gotoDetail()">Mental Health</button>-->
      <!--<button (click)="gotoDetail()">Physical Health</button>-->
      <!--<button (click)="gotoDetail()">Carer</button>-->
    </div>
    <img src="../../assets/main-banner.jpg">
    <div class="content-horizontal">
      <div class="content-panel">
        <h1>What the story is all about</h1>
        <span>This paragraph is in Raleway. Keep reading for how to use the buttons to the left. Change your settings, and choose what section you want the font to apply to. Once you are pleased with the settings for that section you can click save. Your selections will remain as you look for another font for another section of this preview.

Another sub heading in Raleway.</span>
      </div>
    </div>

    <div class="content-horizontal">
      <button class="connect">Log in to connect</button>
    </div>

  </div>
</div>
